.smex-items
*~$
places
.recentf
ido.last
cider-history
auto-save-list
backups
elpa/**
.mc-lists.el
tramp
el-get/**
emacs-backup/**
\#emacs-backup\#
network-security.data
transient/**
bookmarks
eshell/**
url/**
session.*

